.card-container {
	position: relative;
	border: 3px solid #3e4357;
	border-radius: 10px;
	width: 350px;
	height: 500px;

	display: flex;
	margin-top: 10px;
	transition: transform .8s;
}

.card-container img {
	min-width: 100%;
	min-height: 100%;
	border-radius: 7px;
}

.card-container:hover {
	transform: scale(1.02);
}
