<div class="home">
	<app-card gamePrice="R$ 199,00" gameCover="assets/bt-5.jpg" gameLabel="Exclusive" gameConsole="Digital PS4 PS3"></app-card>
	<app-card gamePrice="R$ 200,00" gameCover="assets/bt-4.jpg" gameLabel="Digital" gameConsole="Digital PS4"></app-card>
	<app-card gamePrice="R$ 399,99" gameCover="assets/bt-1.jpg" gameLabel="Exclusive" gameConsole="Digital PS4"></app-card>
	<app-card gamePrice="R$ 120,50" gameCover="assets/bt-bad-company-2.jpg" gameLabel="Digital" gameConsole="Digital PS4"></app-card>
	<app-card gamePrice="R$ 299,99" gameCover="assets/bt-hardline.jpg" gameLabel="New" gameConsole="Digital PS4"></app-card>
</div>
