.menu-bar {
	display:flex;
	flex-direction: row;
	position: fixed;
	z-index: 999;
	background-color: #fff;
	width: 100%;
	height: 40px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

img {
	height: 32px;
}

.menu-bar-logo {
	display: flex;
	margin-left: 1rem;
	align-items: center;
}
